.container {
  position: absolute;
  margin-top: -160px;
  margin-left: 10px;
  display: inline-block;
  width: 50%;
}

.userInfo {
  margin-left: 150px;

  color: white;
  text-shadow: 2px 2px 2px #000;
}

.avatar {
  float: left;
  position: relative;
  margin-right: 10px;
  text-align: center;
}

.avatar__image {
  display: block;
  width: 140px;
  height: 140px;
}

.avatar__upload {
  position: absolute;
  top: -0px;
}

.avatar__uploadButton {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.avatar__uploadButton:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.avatar__uploadLabel {
  display: none;
  width: 140px;
  padding-top: 110px;
  line-height: 30px;

  color: #fff;
}

.avatar__uploadLabel {cursor: pointer;}

.avatar:hover .avatar__uploadLabel {
  display: inline-block;
}

.name {
  font-size: 40px;
  margin: 0;
}

.status {
  margin-left: 10px;
  font-size: 20px;
  vertical-align: top;
}

.description {
  min-height: 50px;
  margin: 0;
  padding: 16px 0;
}

.lookingForAJob > * {
  vertical-align: middle;
}

.lookingForAJob__image {
  width: 20px;
  height: 20px;
}

.contacts {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

.contacts > li {
  float: left;
  
  margin-right: 5px;
}

.contacts a {
  color: inherit;
  text-decoration: none;
}