.friends {
  padding: 5px 1.5%;

  border-top: 7px solid #fff;
}

.header {
  margin-bottom: 10px;
  font-size: 20px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-column-gap: 0.5%;
  grid-row-gap: 5px;

  font-size: 15px;
  text-align: center;
  word-wrap: break-word;
}

.friend {
  
}

.avatar {
  width: 90%;
  border-radius: 50%;
  /* height: 100%; */
}