.paginator {
  text-align: center;
}
.page {
  display: inline-block;
  margin-right: 5px;
  padding: 2px 5px;

  border: 2px solid #f1f1f1;
  border-radius: 7px;

  color: #333;
  text-decoration: none;
}
.page:hover {
  cursor: pointer;
}
.page_current {
  font-weight: bold;
}