.appWrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 200px 10fr;
  grid-gap: 7px;
}

.appWrapper > * {
  border-radius: 7px;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.appWrapper__content {
  grid-area: c;
}